body {
    height: 100%;
    padding: 0;
    margin: 0;
}
html, body, #map {
    height: 100%;
}

#legend {
  background-color: rgb(243, 244, 242);
  padding: 10px;
  padding-right: 25px;
  font-family: 'Roboto', sans-serif;
  text-align: left;
  width: 20%;
  z-index: 0;
  position: absolute;
  top: 0px;
  right: 0px;
  display: inline-block;
}

}

#legend, p {
  font-size: medium;
}
