body {
    padding: 0;
    margin: 0;
}
html, body, #map {
    height: 100vh;
    width: 100vw;
}

#legend {
  background-color: rgb(243, 244, 242);
  padding: 20px;
  font-family: 'Roboto', sans-serif;
  text-align: left;
}

#legend, p {
  font-size: medium;
}
