div#preload { display: none; }

body {
    height: 100%;
    padding: 0;
    margin: 0;
}
html, body, #map {
    height: 100%;
}

#legend {
  background-color: rgb(243, 244, 242);
  padding: 10px;
  padding-right: 25px;
  font-family: 'Lato', sans-serif;
  text-align: left;
}

#legend h4 {
  font-size: large;
}

#legend p {
  font-size: medium;
}

#status {
  width: min-content;
  display: inline;
}

#status img {
  float: left;
  padding-top: 15px;
  padding-right: 8px;
}

#status p {
  float: left;
}
